.cart-basket-container {
  position: absolute;
  right: 150px;
  top: -150px;
  z-index: 3;
}

.cart-basket-container .amount-cart {
  visibility: hidden;
  width: 102px;
  height: 40px;
  margin-top: 30px;
  background: #3F3F3F;
  margin-right: 20px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.cart-basket-container .cart-circle {
  padding: 25px 20px;
  margin-right: 0%;
  display: inline-block;
  background: #f9f7f7;
  border-radius: 50%;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  overflow: hidden;
}

.cart-basket-container .cart-circle:hover {
  opacity: 1;
}

.cart-basket-container .cart-circle:hover ~ .amount-cart {
  visibility: visible;
}

.cart-basket-container .cart-circle i {
  color: #F58656;
  font-size: 40px;
}

.cart-basket-container .cart-circle .cart-count-num {
  width: 33px;
  height: 33px;
  background: #F58656;
  border-radius: 50%;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0px;
  right: -10px;
  font-weight: bold;
  font-size: 18px;
}

.cart-basket-container .cart {
  width: 600px;
  min-height: 410px;
  border: 2px solid #ECEEF7;
  position: relative;
  top: 50px;
  right: -120px;
  padding: 20px 25px;
  background: white;
  display: none;
  border-radius: 15px;
}

.cart-basket-container .cart .cart-h {
  width: 100%;
  min-height: 410px;
  max-height: 810.82px;
  overflow-y: scroll;
}

.cart-basket-container .cart h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.cart-basket-container .cart .cart-up {
  width: 40px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: 22%;
  top: -30px;
  border: 2px solid #D7D7D7;
  border-bottom: 0px solid #D7D7D7;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background: white;
  z-index: 5;
}

.cart-basket-container .cart .cart-footer {
  border-top: 1px solid #D7D7D7;
  padding-top: 20px;
}

.cart-basket-container .cart .cart-footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-basket-container .cart .cart-footer button {
  margin-top: 10px;
  background: #FC4C4C;
  border-radius: 14px;
  padding: 25px 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: white;
}

.cart-basket-container .card-body {
  padding: 0px;
}

.cart-basket-container .card-body img {
  width: 20%;
  height: auto;
}

.cart-basket-container .card-body .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-basket-container .card-body .cart-item:last-child .card-item-text {
  border-bottom: none;
}

.cart-basket-container .card-body .cart-item .card-item-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 10px;
  border-bottom: 1px solid #D7D7D7;
}

.cart-basket-container .card-body .cart-item span {
  min-width: 15%;
  display: block;
  line-height: 80px;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.cart-basket-container .card-body .cart-item div {
  width: 50%;
}

.cart-basket-container .card-body .cart-item h6 {
  margin-top: 20px;
}

.cart-basket-container .card-body .cart-item h3 {
  width: 20%;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.cart-basket-container .card-body .cart-item h3 span {
  display: inline-block;
  font-size: 16px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.cart-basket-container .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
